.Chat {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 73px;
    display: flex;
    flex-direction: column;
}

.chatHeader {
    padding-top: 100px;
    padding-bottom: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #486284;
}

.chatMessages {
    padding: 10px 20px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 80%;
}

.messageBubble {
    margin: 10px 0;
    padding: 12px 16px;
    border-radius: 15px;
    max-width: 40%;
    position: relative;
    font-size: 14px;
}

.sent {
    background-color: #d1e7ff;
    color: #000;
    margin-left: auto;
    text-align: right;
}

.received {
    background-color: #f0f0f0;
    color: #000;
}

.senderName {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}

.messageText {
    display: block;
    margin-bottom: 6px;
}

.messageTime {
    font-size: 0.75em;
    color: gray;
}

.chatInput {
    display: flex;
    width: 60%;
    margin: auto;
    border-top: 1px solid #ccc;
}

.chatInput input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.chatInput div {
    padding: 10px;
    background-color: #767676;
    color: white;
    border: none;
    cursor: pointer;
}

.chatInput div:hover {
    background-color: #0056b3;
}