.ContactProp {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh; /* Ensures full height of viewport */
    margin: auto;
    margin-top: 0; /* Removed margin-top to utilize full height */
}

.chatHeader {
    padding-top: 100px;
    padding-bottom: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #486284;
}

.chatMessages {
    padding: 10px 20px;
    flex-grow: 1; /* Ensures chat messages take up available space */
    overflow-y: auto;
    max-height: 80%;
    margin-bottom: 50px;
}

.messageBubble {
    margin: 10px 0;
    padding: 12px 16px;
    border-radius: 15px;
    max-width: 40%;
    position: relative;
    font-size: 14px;
}

.sent {
    background-color: #d1e7ff;
    color: #000;
    margin-left: auto;
    text-align: right;
}

.received {
    background-color: #f0f0f0;
    color: #000;
}

.senderName {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
}

.messageText {
    display: block;
    margin-bottom: 6px;
}

.messageFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75em;
    color: gray;
}

.messageTime {
    margin-right: 10px;
}

.readStatus {
    font-size: 0.75em;
    margin-left: 10px;
}

/* Color styling for read/unread status */
.readStatus.unread {
    font-weight: bold;
    color: #f44336; /* Red color for unread */
}

.readStatus.read {
    color: #4caf50; /* Green color for read */
}

.chatInput {
    display: flex;
    width: 70%;
    margin: auto;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #fff; /* Ensures a distinct background */
    position: sticky;
    bottom: 50px; /* Keeps it at the bottom */
}

.chatInput input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.chatInput div {
    padding: 10px;
    background-color: #767676;
    color: white;
    border: none;
    cursor: pointer;
}

.chatInput div:hover {
    background-color: #0056b3;
}
