.Header {
    position: fixed;
    width: 100%;
    height: 72px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DEE5ED;
    z-index: 9999;
}

.TitleArea {
    display: flex;
    height: 100%;
    align-items: center;
}

.TitleArea img {
    width: 50px;
    height: 50px;
    margin-left: 55px;
    margin-right: 5px;
    cursor: pointer;
}

.TitleArea h1 {
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    font-size: 20;
    color: #4682A9;
    cursor: pointer;
}

.MenuArea {
    display: flex;
    height: 48px;
    margin-left: auto;
    margin-right: 60px;
    align-items: center;
}

.MenuArea li {
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    margin-left: 48px;
    list-style: none;
    color: #4682A9;
    cursor: pointer;
}

.login {
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: #4682A9;
    background-color: #4682A9;
    color: #FFFFFF;
}

.login:hover {
    border-color: #4682A9;
    background-color: #ffffff;
    color: #000000;
}